input[type=text], select{
    width: 61%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid rgb(155, 192, 178);
    background-color: rgba(169, 202, 190, 0.445);
    color: rgb(0, 0, 0);
}
input[type=submit]{
    background-color: rgb(69, 124, 207);
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(52, 92, 151);
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}


.productbox{
    float:left;
    background-color:#ffffff;
    padding:10px;
       margin-bottom:10px;
       width: 262px;
       border: 1px solid #0c0a0a;
    margin:1%;
}
.productsku{
    font-weight:bold;
	padding:5px 0 5px 0;
}
.productname{
    font-weight:bold;
	font-size:1.4em;
}
.productprice{
	font-weight:bold;
	font-size:1.1em;
}
.productattribute{
    font-weight:bold;
    font-size:1.0em;
}
.menu_bar{
    border-bottom: 1px solid #0c0a0a;
}
.submit_form{
  width: 105%;
}
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}
